<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" 
           Name="Aria Valuspa Platform" 
           Language="1033" 
           Version="3.0.1.0" 
           Manufacturer="University of Nottingham" 
           UpgradeCode="399b291f-af7d-40e1-9b4a-d3fc7da98def">
    
		<Package Description="Aria Valuspa Platform (no dependencies)" 
             InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perUser" />

		<MajorUpgrade AllowDowngrades="no" 
                  DowngradeErrorMessage="A newer version of [ProductName] is already installed."
                  AllowSameVersionUpgrades="yes"/>
    
		<MediaTemplate />

    <Property Id="ARPCOMMENTS">
      Aria Valuspa Platform v3.0.1 installer. It only installs the Aria Valuspa Platform
    </Property>

    <Property Id="ARPCONTACT">
      Maria Galvez Trigo
    </Property>
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="INSTALLDIR" Name="Aria Valuspa Platform">
          <Component Id="readme">
            <File Id="readme" Name="README.md" Source="README.md" />
          </Component>
          <Directory Id="ItemDir" />
        </Directory>
      </Directory>
    </Directory>
    
		<Feature Id="Software" 
             Title="Aria Valuspa Platform" 
             Level="1" 
             AllowAdvertise="no" 
             ConfigurableDirectory="INSTALLDIR">
      <ComponentRef Id="readme" />
			<ComponentGroupRef Id="Items" />
		</Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <UIRef Id="WixUI_InstallDir" />

    <!-- Customising of license and images in installer.-->
    <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="AriaBanner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="AriaBackground.bmp" />
    <!--<WixVariable Id="WixUIExclamationIco" Value="LogoAria.bmp" />
    <WixVariable Id="WixUIInfoIco" Value="LogoAria.bmp" />
    <WixVariable Id="WixUINewIco" Value="LogoAria.bmp" />
    <WixVariable Id="WixUIUpIco" Value="LogoAria.bmp" />
    -->
    
	</Product>
</Wix>
